body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat Black";
    color: white;
}

h1{
    font-size: 300%;
    color: white;
    float: left;
    margin: 0;
    padding-top: 0.75%;
    padding-left: 1.5%;
    padding-right: 0.25%;
}

.logo{
    width: 3%;
    height: auto;
    position: relative;
    margin: 0;
    padding-top: 1%;
}

.buttonDiv{
    float: right;
    padding-top: 2.25%;
    padding-right: 1.5%;
}

#button{
    text-decoration: none;
    color: white;
    background-color:#164985;
    padding: 10px 20px;
    border: 2px solid #04070a;
    border-radius: 25px;
}


#newsArticle{
    border: 3px solid rgb(43, 42, 42);
    border-radius: 25px;
    background-color: black;
    margin: 3%;
    padding: 1%;   
}

#newsFeed{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}