body {
    margin: 0;
    padding: 0;
    background-image: url("newsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat Black";
}

h1{
    font-size: 300%;
    color: white;
    float: left;
    margin: 0;
    padding-top: 0.75%;
    padding-left: 1.5%;
    padding-right: 0.25%;
}

.logo{
    width: 2.4%;
    height: auto;
    position: relative;
    margin: 0;
    padding-top: 1%;
}

.buttonDiv{
    float: right;
    padding-top: 2.25%;
    padding-right: 1.5%;
}

#button{
    text-decoration: none;
    color: white;
    background-color:#164985;
    padding: 10px 20px;
    border: 2px solid #04070a;
    border-radius: 25px;
}

.arrow {
    border: solid whitesmoke;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

  .leftButtonDiv{
    float:left;
    margin-left: 20%;
}

  .rightButtonDiv{
    float:right;
    margin-right: 20%;
}

.buttonContainer{ 
    overflow: hidden;
    margin-top: 21%;
}