body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat Black";
    color: white;
}

h1{
    font-family: "Montserrat Medium";
    font-size: 200%;
    float: left;
    margin: 0;
    padding-top: 0.25%;
    padding-left: 1.5%;
    padding-right: 0.25%;
}

.buttonDiv{
    float: right;
    padding-top: 1.15%;
    padding-right: 1.5%;
}

#button{
    text-decoration: none;
    color: white;
    background-color:#0A1824;
    padding: 10px 20px;
    border: 2px solid #04070a;
    border-radius: 25px;
    font-family: "Montserrat Black";
}

.header{
    border: 1px solid #ccc;
    background-color: #064551;
    overflow: hidden;
    padding-bottom: 0.74%;
    margin-top: 0%;
    border-left: 0;
    border-right: 0;
}


.tab{
    overflow: hidden;
    background-color: #0F223D;
}
  

  .tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 3.0%;
    transition: 0.3s;
    font-size: 17px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width:14.2857142857%;
    height:100px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
}
  
 
  .tab button:hover{
    background-color: #ddd;
}
  

  .tab button.active{
    background-color: #ccc;
}

  .tabcontent{
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.main {
  width: 1800px;
  min-height: 615px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
}

.center{
  display:flex;
  justify-content:center
}

.container { overflow: hidden; }

.centerText{
  text-align: center;
  vertical-align: top;
}
#userInputDiv{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0%;
}

#userInputBox{
  height: 35px;
  width: 25%;
  font-size: 14pt;
}

#stockInformation{
  margin: auto;
  text-align: left;
  padding-top: 0%;
}

#mutualFundInformation{
  margin: auto;
  padding-top: 0%;
}
  @-webkit-keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
  
  @keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
