body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat Black";
    color: white;
}

h1{
    font-family: "Montserrat Black";
    font-size: 200%;
    float: left;
    margin: 0;
    padding-top: 0.25%;
    padding-left: 1.5%;
    padding-right: 0.25%;
}

.buttonDiv{
    float: right;
    padding-top: 1.15%;
    padding-right: 1.5%;
}

#button{
    text-decoration: none;
    color: white;
    background-color:#0A1824;
    padding: 10px 20px;
    border: 2px solid #04070a;
    border-radius: 25px;
    font-family: "Montserrat Black";
}

.header{
    border: 1px solid #ccc;
    background-color: #064551;
    overflow: hidden;
    padding-bottom: 0.74%;
    margin-top: 0%;
    border-left: 0;
    border-right: 0;
}

.center{
  display:flex;
  justify-content:center
}

.centerText{
  text-align: center;
  vertical-align: top;
}
#userInputDiv{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0%;
}

#userInputBox{
  height: 35px;
  width: 25%;
  font-size: 14pt;
}

#stockInformation{
  margin: auto;
  text-align: left;
  padding-top: 1%;
}

#stockRating{
  margin: auto;
  margin-top: 1%;
  text-align: center;
  font-size: 200%;
}

  @-webkit-keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
  
  @keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}