body {
    margin: 0;
    padding: 0;
    background-color: #152b44;
    font-family: "Montserrat Black";
    color: white;
}

h1{
    font-family: "Montserrat Medium";
    font-size: 225%;
    float: left;
    margin: 0;
    padding-top: 0.25%;
    padding-left: 1.5%;
    padding-right: 0.25%;
}

.buttonDiv{
    float: right;
    padding-top: 1.30%;
    padding-right: 1.5%;
}

#button{
    text-decoration: none;
    color: white;
    background-color:#164985;
    padding: 10px 20px;
    border: 2px solid #04070a;
    border-radius: 25px;
}

.border{
    border: 3px solid white;
    overflow: hidden;
    padding-bottom: 0.74%;
    margin-top: 6%;
    border-left: 0;
    border-right: 0;
}